<span class="simple-cite-cite" data-cite-id="$citeID"><!--
	--><span class="confluence-anchor-link" id="cite-${citeNo}-${citeCount}" style="font-size:0px"><!-- --></span><!--
	--><a href="#cite-summary-${citeNo}-${citeCount}">#if($staticOverride.isEmpty())#if($superscript)<sup>#end#if($citepages.isEmpty())[$citeNo]#else[$citeNo, p.$citepages]#end#if($superscript)</sup>#end#else$staticOverride#end</a><!--
--></span>