$webResourceManager.requireResource("de.edrup.confluence.plugins.simple-cite:simple-cite-web-11502")

<table>
	#set($count = 1)
	#foreach($cite in $cites)
		#set($scope = $cite.getScope())
		#if(!$local || ($local && $scope.contains(true)))
			<tr>
				<td align="right" style="vertical-align:top;min-width:50px;">
					#if($enumerationStyle == "(1)")
						($count)
					#elseif($enumerationStyle == "[1]")
						[$count]
					#elseif($enumerationStyle == "none")
					#else
						$count.
					#end
				</td>
				<td>
					#if($showCitationLinks)
						#foreach($i in [1..$scope.size()])
							#set($iMinus = $i - 1)
							#set($inScope = $scope.get($iMinus))
							#if(!$local || ($local && $inScope))
								<a href="#cite-${count}-${i}">
									<span class="confluence-anchor-link" id="cite-summary-${count}-${i}"></span>
									<small style="vertical-align:top">$i</small>
								</a>
							#end
						#end
					#end
					<div class="simple-cite-render simple-cite-summary-cite" style="display:inline" data-cite-id="$cite.getCiteID()" data-reference="$cite.getReference()" data-render-task="$cite.getTask()" data-cite-rendered="$cite.getRendered()" data-tooltip="$showCitesAsTooltip" data-citation-override="$citationOverride">
						#set($citeWithHtml = $cite.getCite())
						#set($citeWithHtml = $citeWithHtml.replaceFirst("<p", "<p style='display:inline'"))
						#if($cite.getURL().isEmpty())
							$citeWithHtml
						#else
							<a href="$cite.getURL()" class="simple-cite-cite-link" target="_blank">$citeWithHtml</a>
						#end
						<aui-spinner class="simple-cite-spinner" size="small" style="display:none"></aui-spinner>
					</div>
				</td>
			</tr>
		#end
		#set($count = $count + 1)
	#end
</table>