$webResourceManager.requireResource("de.edrup.confluence.plugins.simple-cite:simple-cite-web-11502")

<table>
	#set($count = 1)
	#foreach($cite in $cites)
		#set($scope = $cite.getScope())
		#if(!$local || ($local && $scope.contains(true)))
			<tr>
				<td align="right" style="vertical-align:top;min-width:50px;">
					#if($enumerationStyle == "(1)")
						($count)
					#elseif($enumerationStyle == "[1]")
						[$count]
					#elseif($enumerationStyle == "none")
					#else
						$count.
					#end
				</td>
				<td>
					<div>
						#set($citeWithHtml = $cite.getCite())
						#if($cite.getURL().isEmpty())
							$citeWithHtml
						#else
							<a href="$cite.getURL()" target="_blank">$citeWithHtml</a>
						#end
					</div>
					#if($showCitationLinks)
						<p>
							$i18n.getText("de.edrup.confluence.plugins.simple-cite.word.referencedAt") 
							#foreach($i in [1..$scope.size()])
								#set($iMinus = $i - 1)
								#set($inScope = $scope.get($iMinus))
								#if(!$local || ($local && $inScope))
									<a href="#cite-${count}-${i}">
										<span class="confluence-anchor-link" id="cite-summary-${count}-${i}"></span>
										<small style="vertical-align:top">$i</small>
									</a>
								#end
							#end
						</p>
					#end
				</td>
			</tr>
		#end
		#set($count = $count + 1)
	#end
</table>